*.pyc
*.name
.idea/haru.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/yy.xml
*.exe
*.pdb
test/testapp/treeview/obj/x86/Debug/treeview.csproj.FileListAbsolute.txt
test/testapp/treeview/obj/x86/Debug/treeview.csproj.GenerateResource.Cache
test/testapp/treeview/obj/x86/Debug/treeview.MainForm.resources
test/testapp/treeview/obj/x86/Debug/treeview.csprojResolveAssemblyReference.cache